# Telegram Bot Configuration
TELEGRAM_TOKEN=8729755193:AAEmyoAEitdl1cVOZXEFYbS5-YUwJjAhcC0


# Gmail Configuration (use App Password, not your real password)
GMAIL_ADDRESS=brotherprintermmk@gmail.com
GMAIL_APP_PASSWORD=NIVABUPA@001

# Brother Printer Email (get this from Brother iPrint&Scan setup)
BROTHER_PRINTER_EMAIL=44653980797@print.brother.com